/* .chapter_container{
   position: absolute; 
    width: 65%;
    top: 12vh;
    right: 15px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 10px;
} */

/* .MuiCardHeader-title{
    font-weight: 1000;
}
 */
