.App {
    text-align: center;
}

.App-header {
    background-color: #B71F15;
    height: 10vh;
    font-size: xx-large;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.App-header>img {
    width: 20%;
    height: 34%;
    position: absolute;
    left: 52%;
    top: -4%;
}

a {
    text-decoration: none;
    text-align: left;
    color: #0040FF;
}

li {
    margin: 0 0 4px 0;
}

a.active {
    font-weight: 500;
    /* color: coral; */
    color: #FF4B4B;
}

.card_containt {
    color: #AD1559;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner>img {
    width: 30%;
    height: 30%;
    /* border: 1px solid #f3f3f3; */
    /* Light grey */
    /* border-top: 10px solid #383636; */
    /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}